


/*^^^^^^^^^^^^^^color/size^^^^^^^^^^^^^^*/


body{
    background-color: black;
    color:white;
}

a:link{
    color:white;
}
a:visited{
    color:white;
}
a:hover{
    color:#007854;
}
    
    
::-moz-selection {
 background-color:rgba(226,185,179,0.99);
    color:black;
}

/*
::selection{
    background:rgba(226,185,179,0.99);
    color:black;   
}
*/

::selection{
    background:rgba(3,120,84,0.99);
    color:white;   
}


h6{
    color:dimgrey;
}

.quote{
    color: #007854;
}

.here a{
    color:#007854;
}

/*
.tag{
   color:#007854; 
}
*/

/*--------------mobile--------------*/

@media only screen and (max-width:550px){
    
     .menu{
    background: Black;
    }
    
    .nav ul li{
    background: Black;

}
    
}