
 /*-------------- logo scroll animation--------------*/




.container{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 4em 1em;
    grid-auto-rows:minmax (100px,auto);
    padding:3% 3%;
}


#logosvg{
    grid-area: 1/1/2/9;
    display:grid;
    grid-template-columns: repeat(4,1fr);
}

.chen{
    grid-area: 3/3/4/7;
    padding-top: 10%;
}

.chen p{
    font-size:24px;
}


.chen a{
    text-decoration:underline; 
    font-size:24px;

}

.chen a>img { 
    display: none; 
}

.chen a:hover>img { display: block; }

.chen img{
    position:absolute;
    right:3%;
    top: 60%;
}



.projects{
    grid-area:  5/3/6/9;
    position: sticky;
    top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: baseline;

}

.projects p{
     display: inline;
     font-size: 36px;
     color:#007854;
}

.projects a{
    font-size: 36px;

}




.title,.tag{
    font-size: 22px;
    line-height: 1em;
    display: inline-block;
    font-family: RF Dewi Expanded;
    font-weight: 400;
    transition-duration: 0.3s;
}

.tag{
    justify-self: end;
}

.container div a:hover>img{
    
}





.babel{
    grid-area:  7/3/8/9;
}

.babel a{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.babel a img{
    grid-column: 1/5;
}

.babel .title{
    grid-column: 1/3;  
}

.babel .tag{
    grid-column: 3/5;  
}


.netherworld{
    grid-area:  8/3/9/9;
}

.netherworld a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.netherworld a img{
    grid-column: 3/7;
}

.netherworld .title{
    grid-column: 3/5;
}

.netherworld .tag{
    grid-column: 5/7;
}


.flash{
    grid-area:  10/3/11/9;
}

.flash a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.flash a img{
    grid-column: 1/7;
}

.flash .title{
    grid-column: 1/5;
}

.flash .tag{
    grid-column: 5/7;
}



.alight{
    grid-area:  11/3/12/9;
}

.alight a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.alight a img{
    grid-column: 1/5;
}

.alight .title{
    grid-column: 1/3;
}

.alight .tag{
    grid-column: 3/5;
}



.iteration{
    grid-area:  12/5/13/9;
}

.iteration a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.iteration a img{
    grid-column: 3/7;
}

.iteration .title{
    grid-column: 3/5;
}

.iteration .tag{
    grid-column: 5/7;
}



.collage{
    grid-area:  9/3/10/4;
    position: relative;
    bottom: 50%;
}






.commercial2{
    grid-area:  15/5/16/7;
    text-decoration: underline;
}

.illustration2{
    grid-area:  15/7/16/9;   
    text-decoration: underline;
}


.email{
    grid-area:  20/3/21/9;   
}

.email p{
    font-size: 36px;
    padding-bottom: 0.6em;
}

.email a{
        text-decoration: underline;
}

















 /*--------------footer--------------*/
   
  
.footer{
    grid-area: 25/3/26/6;
} 

.top{
    grid-area: 25/5/26/9;
}




/*--------------mobile--------------*/


@media only screen and (max-width:550px){
    
.container{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    grid-auto-rows:minmax (20px,auto);
    padding:3% 3% 3% 3%;
}
    
    
#logosvg{
    grid-area: 1/1/2/2;
}


.chen{
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chen p{
    grid-area: 1/2/2/4;
    margin-top: 40%;
    font-size: 1.2em;
}


.chen a{
    text-decoration:underline;
    font-size: 1em;

}

.chen a:hover>img { display: none; }


.projects{
    grid-area:  5/1/6/2;
}

.projects p{
     font-size: 1em;
}

.projects a{
    font-size: 0.9em;
}
    
.container img{
        margin-top: 5%;
}
    
.title,.tag{
    font-size: 0.8em;
    line-height: 1em;
    display: inline-block;
    font-family: RF Dewi Expanded;
    font-weight: 400;
    transition-duration: 0.3s;
}
    

.babel{
    grid-area:  7/1/8/2;
}

.babel a{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: flex-end;
}

.babel a img{
    grid-column: 1/3;
}

.babel .title{
    grid-column: 1/2;
}
    
.babel .tag{
    grid-column: 2/3;
}
    
    
.netherworld{
    grid-area:  8/1/9/2;
}

.netherworld a{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.netherworld a img{
    grid-column: 1/3;
}

.netherworld .title{
    grid-column: 1/2;
}
    
.netherworld .tag{
    grid-column: 2/3;
}


.flash{
    grid-area: 9/1/10/2;
}

.flash a{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.flash a img{
    grid-column: 1/3;
}

.flash .title{
    grid-column: 1/2;
}
    
.flash .tag{
    grid-column: 2/3;   
}



.alight{
    grid-area:  10/1/11/2;
}

.alight a{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.alight a img{
    grid-column: 1/3;
}

.alight .title{
    grid-column: 1/2;
}

.alight .tag{
    grid-column: 2/3;   
}

    
.iteration{
    grid-area:  11/1/12/2;
}

.iteration a{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
}

.iteration a img{
    grid-column: 1/3;
}

.iteration .title{
    grid-column: 1/2;
}

.iteration .tag{
    grid-column: 2/3;   
}

    
    
.collage{
    display: none;
}

    


.email{
    grid-area:  20/1/21/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

    .email span{
            grid-area: 1/2/2/4;

    }    
    
.email p{
    font-size: 1.2em;
    padding-bottom: 0.6em;
}

.email a{
        text-decoration: underline;
}


.top{
    grid-area: 33/1/34/2;
    padding-left: 20%;

}
      
.top span, .footer span{
        display: none;
    }
    
  .footer{
    grid-area: 33/1/34/2;
    padding-left: 40%;
    padding-bottom: 0%;
} 
  
}



/*--------------ipad--------------*/

@media only screen
  and (min-device-width : 550px)
  and (max-device-width : 1024px)
  and (orientation:portrait) 
{
    
    
.chen img{
    top: 40%;
}
       

.projects p{
     font-size: 1.5em;
}

.projects a{
    font-size: 1.5em;
}

.title,.tag{
    font-size: 15px;;

    }
}






