
 /*-------------- logo scroll animation--------------*/




.container{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 4em 1em;
    grid-auto-rows:minmax (100px,auto);
    padding:3% 3%;
}


.chen{
    grid-area: 3/3/4/7;
    padding-top: 10%;
}

.chen p{
    font-size:24px;
}


.chen a{
    text-decoration:underline; 
}

.chen a>img { 
    display: none; 
}

.chen a:hover>img { display: block; }

.chen img{
    position:absolute;
    right:3%;
    top: 5%;
}





.personal{
    grid-area:  5/3/6/5;
}

.commercial{
    grid-area:  5/5/6/7;
    text-decoration: underline;
}

.illustration{
    grid-area:  5/7/6/9;   
    text-decoration: underline;
}
.personal,.commercial,.illustration a,p{
    font-size: 18px;
    z-index: 4;

}


.tag{
    font-size: 12px;
    color: #007854;
    display: block;
}

.title{
    font-size: 28px;
    line-height: 1em;
    display: block;
    font-family: RF Dewi Expanded;
    font-weight: 400;
    transition-duration: 0.3s;
    padding-bottom: 2em;
}

.container div a:hover>img{
    
}





.babel{
    grid-area:  7/3/8/9;
}

.babel a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
    align-items: flex-end;
}

.babel a img{
    grid-column: 1/5;
}

.babel .babeltitle{
    grid-column: 5/7;

}


.netherworld{
    grid-area:  8/3/9/9;
}

.netherworld a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
    align-items: flex-end;
}

.netherworld a img{
    grid-column: 4/7;
}

.netherworld .netherworldtitle{
    grid-column: 1/4;
}


.flash{
    grid-area:  9/3/10/9;
}

.flash a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.flash a img{
    grid-column: 1/7;
}

.flash .flashtitle{
    grid-column: 1/3;
}



.alight{
    grid-area:  10/3/11/9;
}

.alight a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.alight a img{
    grid-column: 1/5;
}

.alight .alighttitle{
    grid-column: 5/7;
}


.iteration{
    grid-area:  11/3/12/9;
}

.iteration a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.iteration a img{
    grid-column: 1/5;
}

.iteration .iterationtitle{
    grid-column: 1/3;
}



.collage{
    grid-area:  8/2/9/3;
    position: relative;
    bottom: 30%;
}

.clay{
      grid-area:   11/8/12/9;
        position: relative;
        top: 40%;
}





.commercial2{
    grid-area:  15/5/16/7;
    text-decoration: underline;
}

.illustration2{
    grid-area:  15/7/16/9;   
    text-decoration: underline;
}


.email{
    grid-area:  20/3/21/9;   
}

.email p{
    font-size: 36px;
    padding-bottom: 0.6em;
}

.email a{
        text-decoration: underline;
}

















 /*--------------footer--------------*/
   
  
.footer{
    grid-area: 25/3/26/6;
} 

.top{
    grid-area: 25/5/26/9;
}




/*--------------mobile--------------*/


@media only screen and (max-width:550px){
    
    .container{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    grid-auto-rows:minmax (20px,auto);
    padding:20% 3% 3% 3%;
}


.chen{
    grid-area: 1/1/2/2;
}

.chen p{
    font-size:1.5em;
}


.chen a{
    text-decoration:none; 
}

.chen a:hover>img { display: none; }


.personal{
    grid-area:  4/1/5/2;
}

.commercial{
    grid-area:  2/1/3/2;
}

.illustration{
    grid-area:  3/1/4/2;
}
.personal,.commercial,.illustration a,p{
    font-size: 1em;
}

.babel{
    grid-area:  5/1/6/2;
}

.babel a{
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    align-items: flex-end;
}

.babel a img{
    grid-column: 1/2;
}

.babel .babeltitle{
    grid-column: 1/2;

}
    
.netherworld{
    grid-area:  6/1/7/2;
}

.netherworld a{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows:minmax (20px,auto);

}

.netherworld a img{
    grid-area: 1/1/2/2;
}

.netherworld .netherworldtitle{
    grid-area: 2/1/3/2;
}


.flash{
    grid-area: 7/1/8/2;
}

.flash a{
    display: inline-grid;
    grid-template-columns: 1fr;
}

.flash a img{
    grid-column: 1/2;
}

.flash .flashtitle{
    grid-column: 1/2;
}



.alight{
    grid-area:  9/1/10/2;
}

.alight a{
    display: inline-grid;
    grid-template-columns: 1fr;
}

.alight a img{
    grid-column: 1/2;
}

.alight .alighttitle{
    grid-column: 1/2;
}


.iteration{
    grid-area:  10/1/11/2;
}

.iteration a{
    display: inline-grid;
    grid-template-columns: 1fr;
}

.iteration a img{
    grid-column: 1/2;
}

.iteration .iterationtitle{
    grid-column: 1/2;
}



.collage{
    display: none;
}

.clay{
    display: none;

} 
    
.commercial2{
    grid-area:  13/1/14/2;
}

.illustration2{
    grid-area:  14/1/15/2;   
}


.email{
    grid-area:  20/1/21/2;   
}

.email p{
    font-size: 1.5em;
    padding-bottom: 0.6em;
}

.email a{
        text-decoration: underline;
}


.top{
    grid-area: 33/1/34/2;
    padding-left: 20%;

}
      
.top span, .footer span{
        display: none;
    }
    
  .footer{
    grid-area: 33/1/34/2;
    padding-left: 40%;
    padding-bottom: 0%;
} 
  
}

}





