

.container{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 5em 1em;
    grid-auto-rows:minmax (200px,auto);
    padding:3% 3%;
    align-items: start;
}



.container div>.project{
    opacity: 0.0;
    transition-duration: .4s;

}


.container div:hover>.project {
    opacity: 1.0; 
    transition-duration: .4s;
}

.container .project{
    position:fixed;
    left:3%;
    top: 20%;
    width: 25%;
}

div a p{
        font-size: 13px;
}

.project p{
    width: 90%;
}


#logosvg{
    grid-area: 1/1/2/9;
    display:grid;
    grid-template-columns: repeat(4,1fr);
}



.chen{
    grid-area: 3/3/4/7;
    padding-top: 10%;
}
.chen p{
    font-size:24px;
}
.chen a{
    text-decoration:underline; 
    font-size:24px;
}
.chen a>img { 
    display: none; 
}
.chen a:hover>img { display: block; }
.chen img{
    position:absolute;
    right:3%;
    top: 60%;
}



.projects{
    grid-area:  5/3/6/9;
    position: sticky;
    top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: baseline;
}

.projects p{
     display: inline;
     font-size: 36px;
     color:#007854;
}

.projects a{
    font-size: 36px;

}


div a p{
    font-size: 15px;
    line-height: 1em;
    display: inline-block;
    font-family: RF Dewi Expanded;
    font-weight: 400;
    transition-duration: 0.3s;
}

.roadtrip{
    grid-area:  7/3/8/5;
}
.timedealer{
    grid-area:  7/5/8/7;
}
.halloween{
    grid-area:  8/3/9/7;
}
.vintage{
    grid-area:  8/7/9/9;
}
.amelie{
    grid-area:  9/3/10/5;
}

.llama{
    grid-area:  9/5/10/7;
}

.sea{
    grid-area:  9/7/10/9;
}



.weekly{
    grid-area:  10/3/11/9;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em 1em;
    align-items: start;
}

.island{
    grid-area:  11/3/12/9;
}

.shj{
    grid-area:  12/3/13/7;
}

.newyear{
    grid-area:  13/5/14/9;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1em 1em;
}

.mooncake{
    grid-area:  14/3/15/9;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1em 1em;   
}




 /*--------------footer--------------*/
   
  
.footer{
    grid-area: 15/3/16/6;
} 

.top{
    grid-area: 15/5/16/9;
}

/*--------------mobile--------------*/


@media only screen and (max-width:550px){

    .container{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    grid-auto-rows:minmax (20px,auto);
    padding:20% 3% 3% 3%;
}
    
#logosvg{
    grid-area: 1/1/2/2;
}
    
    
.chen{
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chen p{
    grid-area: 1/2/2/4;
    margin-top: 40%;
    font-size: 1.2em;
}

.chen a{
    text-decoration:underline;
    font-size: 1em;
}

.chen a:hover>img { display: none; }

.projects{
    grid-area:  5/1/6/2;
}

.projects p{
     font-size: 1em;
}

.projects a{
    font-size: 0.9em;
}
    
div a p{
    font-size: 12px;
}
    
    
.roadtrip{
    grid-area:  8/1/9/2;
}
.timedealer{
    grid-area:  9/1/10/2;
}
    
.halloween{
    grid-area:  10/1/11/2;
}

.vintage{
    grid-area:  11/1/12/2;
}
    
.amelie{
    grid-area:  12/1/13/2;
}

.llama{
    grid-area:  13/1/14/2;
}

.sea{
    grid-area:  14/1/15/2;
}



.weekly{
    grid-area:  15/1/16/2;
    grid-template-columns: 1fr 1fr;
}

.island{
    grid-area:  16/1/17/2;
}

.shj{
    grid-area:  17/1/18/2;
}

.newyear{
    grid-area:  18/1/19/2;
}

.mooncake{
    grid-area:  19/1/20/2;
    grid-template-columns: 1fr;
}
    
    
    
    
    
.top{
    grid-area: 33/1/34/2;
    padding-left: 20%;

}
      
.top span, .footer span{
        display: none;
    }
    
.footer{
    grid-area: 33/1/34/2;
    padding-left: 40%;
    padding-bottom: 0%;
}
 


}




