
 /*-------------- logo scroll animation--------------*/




.container{
    display:grid;
    grid-template-columns: repeat(8,1fr);
    grid-gap: 4em 1em;
    grid-auto-rows:minmax (100px,auto);
    padding:3% 3%;
}


#logosvg{
    grid-area: 1/1/2/9;
    display:grid;
    grid-template-columns: repeat(4,1fr);
}

.chen{
    grid-area: 3/3/4/7;
    padding-top: 10%;
}

.chen p{
    font-size:24px;
}


.chen a{
    text-decoration:underline; 
    font-size:24px;

}

.chen a>img { 
    display: none; 
}

.chen a:hover>img { display: block; }

.chen img{
    position:absolute;
    right:3%;
    top: 60%;
}



.projects{
    grid-area:  5/3/6/9;
    position: sticky;
    top: 5%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: baseline;

}

.projects p{
     display: inline;
     font-size: 36px;
     color:#007854;
}

.projects a{
    font-size: 36px;

}




.title,.tag{
    font-size: 22px;
    line-height: 1em;
    display: inline-block;
    font-family: RF Dewi Expanded;
    font-weight: 400;
    transition-duration: 0.3s;
}

.tag{
    justify-self: end;
}

.container div a:hover>img{
    
}





.nightfood{
    grid-area:  7/3/8/7;
}

.nightfood a{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.nightfood a img{
    grid-column: 1/9;
}

.nightfood .title{
    grid-column: 1/5;  
}

.nightfood .tag{
    grid-column: 5/9;  
}


.bowers{
    grid-area:  8/3/9/9;
}

.bowers a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.bowers a img{
    grid-column: 3/7;
}

.bowers .title{
    grid-column: 3/5;
}

.bowers .tag{
    grid-column: 5/7;
}


.maplehill{
    grid-area:  10/3/11/9;
}
.maplehill a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}
.maplehill a img{
    grid-column: 1/9;
}
.maplehill .title{
    grid-column: 1/5;
}
.maplehill .tag{
    grid-column: 5/9;
}



.bounti{
    grid-area:  11/3/12/9;
}

.bounti a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.bounti a img{
    grid-column: 1/5;
}

.bounti .title{
    grid-column: 1/3;
}

.bounti .tag{
    grid-column: 3/5;
}


.history{
    grid-area:  12/7/13/9;
    position: relative;
    bottom: 50%;
}






.email{
    grid-area:  20/3/21/9;   
}

.email p{
    font-size: 36px;
    padding-bottom: 0.6em;
}

.email a{
        text-decoration: underline;
}




 /*--------------footer--------------*/
   
  
.footer{
    grid-area: 25/3/26/6;
} 

.top{
    grid-area: 25/5/26/9;
}








/*--------------mobile--------------*/


@media only screen and (max-width:550px){
    
.container{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    grid-auto-rows:minmax (20px,auto);
    padding:3% 3% 3% 3%;
}
    
    
#logosvg{
    grid-area: 1/1/2/2;
}


.chen{
    grid-area: 3/1/4/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.chen p{
    grid-area: 1/2/2/4;
    margin-top: 40%;
    font-size: 1.2em;
}

.chen a{
    text-decoration:underline;
    font-size: 1em;

}

.chen a:hover>img { display: none; }


.projects{
    grid-area:  5/1/6/2;
}

.projects p{
     font-size: 1em;
}

.projects a{
    font-size: 0.9em;
}
    
    
.title,.tag{
    font-size: 0.8em;
}
    
    
 .nightfood{
    grid-area:  7/1/8/2;
}

.nightfood a{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.nightfood a img{
    grid-column: 1/9;
}

.nightfood .title{
    grid-column: 1/5;  
}

.nightfood .tag{
    grid-column: 5/9;  
}


.bowers{
    grid-area:  8/1/9/2;
}

.bowers a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.bowers a img{
    grid-column: 1/7;
}

.bowers .title{
    grid-column: 1/5;
}

.bowers .tag{
    grid-column: 5/7;
}

.maplehill{
    grid-area:  10/1/11/2;
}

.bounti{
    grid-area:  11/1/12/2;
}

.bounti a{
    display: inline-grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1em;
}

.bounti a img{
    grid-column: 1/7;
}

.bounti .title{
    grid-column: 1/3;
}

.bounti .tag{
    grid-column: 3/7;
}


.history{
    grid-area:  12/1/13/2;
    width: 70%;
    position: relative;
    bottom: 0%;
}   
    
    
    
    
    


.email{
    grid-area:  20/1/21/2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

    .email span{
            grid-area: 1/2/2/4;

    }    
    
.email p{
    font-size: 1.2em;
    padding-bottom: 0.6em;
}

.email a{
        text-decoration: underline;
}


.top{
    grid-area: 33/1/34/2;
    padding-left: 20%;

}
      
.top span, .footer span{
        display: none;
    }
    
  .footer{
    grid-area: 33/1/34/2;
    padding-left: 40%;
    padding-bottom: 0%;
} 
  
}



/*--------------ipad--------------*/

@media only screen
  and (min-device-width : 550px)
  and (max-device-width : 1024px)
  and (orientation:portrait) 
{
    
    
.chen img{
    top: 40%;
}
       

.projects p{
     font-size: 1.5em;
}

.projects a{
    font-size: 1.5em;
}

.title,.tag{
    font-size: 15px;;

    }
}






